/*

IBM colors (https://www.ibm.com/design/language/):
    0043ce Blue 70
    0f62fe Blue 60
    97c1ff Blue 30
    0072c3 Cyan 60
    6929c4 Purple 70
    13171a Cool Gray 100
    21272a Cool Gray 90
    343a3f Cool Gray 80
    4d5358 Cool Gray 70
    878d96 Cool Gray 50
    b9bfc7 Cool Gray 30
    dde1e6 Cool Gray 20
    f2f4f8 Cool Gray 10

*/

html {
  font-family: system-ui;
}

h1,
h2,
h3 {
  font-weight: 300;
}

footer {
  color: #4d5358; /* Cool Gray 70 */
}

a {
  color: #0072c3 /* Cyan 60 */;
  text-decoration: unset;
  outline: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

*:focus {
  outline-style: none;
  border-color: #0072c3;
}

button:focus,
select:focus,
a:focus {
  text-decoration: underline;
}

button,
select {
  font-family: inherit;
  font-size: inherit;
}

button {
  background-color: #0072c3; /* Cyan 60 */
  color: #fff;
  font-weight: 300;
  border: none;
  line-height: 1.3em;
}
